@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        min-width: 320px;
        max-width: 1472px;
    }

    .grey-gradient {
        background: linear-gradient(to right, rgba(238, 236, 234, 1), rgba(238, 235, 234, 0));
    }
    
    .text-sm-link {
        font-size: 14px;
        line-height: 16px;
    }
    
    .text-sm-bold {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
    
    .text-base-link {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    
    .text-base-bold {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
    
    .text-lg {
        font-weight: 600;
    }
    
    .text-xl {
        font-weight: 700;
    }
    
    .text-2xl {
        font-weight: 600;
    }
    
    .text-3xl {
        font-weight: 700;
    }
    
    .text-4xl {
        font-weight: 700;
    }
}
